@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

.values {
    display: flex;
    flex-direction: row;
}
.title {
    font-size: 42px;
    text-align: center;
    padding: 1em;
}

.leftContainer > img {
    width: 90%;
    margin: 0 2em;
}
.rightContainer {
    width: 50%;
    margin: 0 2em;
}
.belowButtons {
    margin-top: 1em;
}