
<h1>{{ h1 }}</h1>

<div class="careerpath">
    <div class="leftContainer">
        <img [src]="'../assets/images/growing-path.png'" alt="" class="pathImage">
    </div>

    <div class="rightContainer">
        <app-accordion-item title="Initial and Mid Level" description=""></app-accordion-item>
        <app-accordion-item title="Senior Level" description="Senior, Software Designer, Architect"></app-accordion-item>
        <app-accordion-item title="Expert and MGMT" description="Subject Matter Expert, Technical Director, Technical Manager"></app-accordion-item>
        <app-accordion-item title="Senior MGMT" description=""></app-accordion-item>
    </div>
</div>