@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careerpath {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title {
    width: 100%;
    margin: 1em 0em;
    text-align: center;
    font-size: 4em;
}
.leftContainer {
    flex: 1;
    margin: 1em;
}
.rightContainer {
    flex: 1;
    margin: auto 0;
}
.pathImage {
    height: 30em;
    width: 30em;
}
