<h2 class="title">The Triforce</h2>
<div class="container"> 
  <p class="first-paragraph">The three aspects consist of the Studio, TDC and Accounts</p>
  <p class="first-paragraph"><strong>{{ name }}</strong>, you are here</p>
  <div class="tabs" >
    <mat-tab-group dynamicHeight = true>
      <mat-tab label="Expertise">
        <img clas="imagen" [src]=studioimg >
      </mat-tab>
      <mat-tab label="Site">

      </mat-tab>
      <mat-tab label="Business">
        
      </mat-tab>
    </mat-tab-group>
   </div>
    <div class="belowButtons">
        <button class="button" routerLink="/">Previous</button>
        <button class="button" routerLink="/careerpath">Next</button>
    </div>
</div>
