<h2 class="title">The Triforce</h2>
<div class="container"> 
  <p class="first-paragraph">The three aspects consist of the Studio, TDC and Accounts</p>
  <p class="first-paragraph"><strong>Nombre,</strong> You are here</p>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <!-- <div>
    <app-expertise ngIf="isExpertise"></app-expertise>
  </div> -->
    <div class="belowButtons">
        <button class="button" routerLink="/">Previous</button>
        <button class="button" routerLink="/careerpath">Next</button>
    </div>
</div>
