<div class="accordion">
    <div class="acc-header" (click)="toggle()">
        <h2 class="headerTitle">{{ title }}</h2>
        <div class="arrow"><i class="ion-ios-arrow-down"></i></div>
    </div>
    <div *ngIf="showBody">
        <div class="acc-body">
            <ul *ngIf="title == 'Initial and Mid Level'">
                <li *ngFor="let job of initial">{{ job }}</li>
            </ul>
        </div>
        <div class="acc-body">
            <ul *ngIf="title == 'Senior Level'">
                <li *ngFor="let job of senior">{{ job }}</li>
            </ul>
        </div>
        <div class="acc-body">
            <ul *ngIf="title == 'Expert and MGMT'">
                <li *ngFor="let job of expert">{{ job }}</li>
            </ul>
        </div>
        <div class="acc-body">
            <ul *ngIf="title == 'Senior MGMT'">
                <li *ngFor="let job of seniorMgmt">{{ job }}</li>
            </ul>
        </div>

    </div>
</div>
