.accordion {
    font-size: 1em;
    font-weight: 400;
    color: #192038;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 1em;
}

.acc-header {
    border-bottom: 1px solid rgb(202, 202, 202);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34em;
    height: 4em;
    padding-top: 1em;
}

.acc-header > h2 {
    margin-left: 2em;
}

.headerTitle {
    width: 50%;
}

.acc-body {
}

.acc-body > ul {
    margin: 1em 0em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    font-weight: bold;
    margin-bottom: 1em;
    margin-right: 1em;
}

.arrow {
    font-size: 18px;
    margin-right: 1em;
}