body {
    background-color: black;
    text-align: center;
}
.title {
    margin-top: 4em;
    color: white;
}
.welcome-image {
    margin: 0px;
    padding: 0px;
    height: 20em;
    width: auto;
    background-image: url('./assets/images/colorstrokes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nameInput {
    margin-right: 1em;
    height: 3em;
    width: 20em;
    font-size: 14px;
}
.inputButton, .nextButton{
    height: 3em;
    width: 5em;
    border-radius: 10%;
    border: none;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 16px;
}

.nextButton {
    margin-top: 1em;
}