body {
    background-color: black;
    color: white;
}
.welcomeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    margin-top: 2em;
    text-align: center;
}
.welcome-image {
    margin: 0 auto;
    height: 20em;
    width: auto;
    background-image: url('./assets/images/colorstrokes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nameInput {
    height: 3em;
    width: 20em;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 2em;
}
.nextButton{
    height: 3em;
    width: 5em;
    margin: 0 auto;
    border-radius: 10%;
    border: none;
    background-color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 1em;
    color: white;
}