<H1>{{ title }}</H1>
<h3>{{ subtitle }}</h3>

<div class="keyPeople">
    <div class="keyPeople__card">
        <img [src]="'https://api.starmeup.com/starmeup-api/v2/image/rtounkjsnksfopwhrbgg_png/300/300/1?imageAnimated=true'" alt=""class="keyPeople__card--photo">
        <h3>Daniel Lazzarano</h3>
        <p>SP and UI Partner</p>
        <p>Studio Partner</p>
    </div>

    <img [src]="'https://api.starmeup.com/starmeup-api/v2/image/putsniwcmdargkvbzpad_png/300/300/1?imageAnimated=true'" alt=""class="keyPeople__card--photo">
    <img [src]="'https://api.starmeup.com/starmeup-api/v2/image/cqxaksibboczofffevxs/300/300/1?imageAnimated=true'" alt="" class="keyPeople__card--photo">
    <img [src]="'https://api.starmeup.com/starmeup-api/v2/image/wgbriuddehbsdmouqmqe_png/300/300/1?imageAnimated=true'" alt="" class="keyPeople__card--photo">
    <img [src]="'https://api.starmeup.com/starmeup-api/v2/image/obthggdnwxqijsgqwblb_png/300/300/1?imageAnimated=true80'" alt="" class="keyPeople__card--photo">
</div>