.accordion {
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    color: #192038;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 1em;
}

.acc-header {
    border-bottom: 1px solid rgb(202, 202, 202);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 4em;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-weight: bolder;
}


.acc-body > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em;
}

li {
    margin-bottom: 1em;
    margin-right: 1em;
    padding-right: 1em;
    font-size: 20px;
    font-weight: bold;
}

.arrow {
    margin: 1em;
}